<!DOCTYPE html>
<!--
   Diseño Construido por Devs Imagen Digital SAC.
   Con recursos por Bootstraptaste
   Bajo la licencia Creative Commons Attribution 3.0 license
   http://creativecommons.org/licenses/by/3.0/
-->
<html>
  <head>
  	<!-- Basico de Pagina -->
  	<title>Tu Marca</title>
	<meta name="description" content="Diseño web, construido por Devs imagen digital sac: pagina web mype" />
   	<meta name="keywords" content="pagina web diseño marketing digital" />
   	<link rel="shortcut icon" href="logo.png" >
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
	<link href="color/default.css" rel="stylesheet" media="screen">
	<script src="js/modernizr.custom.js"></script>
      </head>
  <body>
	<div class="menu-area">
			<div id="dl-menu" class="dl-menuwrapper">
						<button class="dl-trigger">Abrir Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="#intro">Inicio</a>
							</li>
							<li><a href="#about">Acerca De</a></li>
							<li><a href="#services">Servicios</a></li>
							<li><a href="#works">Productos</a></li>
							<li><a href="#contact">Contacto</a></li>
							<li>
								<a href="#">Sub Menu</a>
								<ul class="dl-submenu">
									<li><a href="#">Sub menu</a></li>
									<li><a href="#">Sub menu</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /dl-menuwrapper -->
	</div>	

	  <!-- intro area -->	  
	  <div id="intro">
	  
			<div class="intro-text">
				<div class="container">
					<div class="row">
					
						
					<div class="col-md-12">
			
						<div class="brand">
							<h1><a href="index.html">Devs</a></h1>
							<div class="line-spacer"></div>
							<p><span>Bienvenido a este recorrido</span></p>
						</div>
					</div>
					</div>
				</div>
		 	</div>
			
	 </div>
	  

	  
	  
	  <!-- About -->
	  <section id="about" class="home-section bg-white">
		<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Acerca De</h2>
					 <p>Puedes mostrar toda la informacion acerca de tu marca/empresa, historia, equipo, visión, etc.</p>
					</div>
				  </div>
			  </div>
			  <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="box-team wow bounceInDown" data-wow-delay="0.1s">
                    <img src="img/team/1.jpg" alt="" class="img-responsive" />
                    <h4>Nombre Apellido</h4>
                    <p>Gerente General</p>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
					<div class="box-team wow bounceInDown">
                    <img src="img/team/2.jpg" alt="" class="img-responsive" />
                    <h4>Nombre Apellido</h4>
                    <p>Gerente de Marketing</p>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
					<div class="box-team wow bounceInDown">
                    <img src="img/team/3.jpg" alt="" class="img-responsive" />
                    <h4>Nombre Apelido</h4>
                    <p>Gerente de Ventas</p>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
					<div class="box-team wow bounceInDown">
                    <img src="img/team/4.jpg" alt="" class="img-responsive" />
                    <h4>Nombre Apellido</h4>
                    <p>Gerente de Operaciones</p>
					</div>
                </div>
			  </div>			  
		  </div>	  
	  </section>
	  
		<!-- spacer -->	  
		<section id="spacer1" class="home-section spacer">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="color-light">
						<h2 class="wow bounceInDown" data-wow-delay="1s">El contenido depende de ti</h2>
						<p class="lead wow bounceInUp" data-wow-delay="2s">Imagina todo lo que podrás mostrar.</p>	
						</div>
					</div>				
				</div>
            </div>
		</section>	  
	  
	  <!-- Services -->
	 <section id="services" class="home-section bg-white">
		<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Tu Servicios</h2>
					 <p>Puedes mostrar tus servicios, o características, valores, lo que desees.</p>
					</div>
				  </div>
			  </div>
			  <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
						<i class="fa fa-code fa-4x"></i>
						<h4>Ten una web moderna</h4>
						<p>Tu web cumplirá los mejores estándares de tecnología.</p>
						<a class="btn btn-primary">Botón</a>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
					<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
						<i class="fa fa-user fa-4x"></i>
						<h4>Gana un mayor público</h4>
						<p>Con una web, todo el mundo podrá visitar tu negocio.</p>
						<a class="btn btn-primary">Botón</a>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
					<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
						<i class="fa fa-desktop fa-4x"></i>
						<h4>Tendrás un diseño responsivo</h4>
						<p>Tu web se verá bien en cualquier tipo de pantalla.</p>
						<a class="btn btn-primary">Botón</a>
					</div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
					<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
						<i class="fa fa-money fa-4x"></i>
						<h4>Aumenta tus ingresos</h4>
						<p>Con una web, todos podrán ser tus socios, partners o clientes.</p>
						<a class="btn btn-primary">Botón</a>
					</div>
                </div>
			  </div>	
		</div>
	</section>
	
	 <!-- Works -->
	<section id="works" class="home-section bg-gray">
			<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>TUs productos</h2>
					 <p>En esta sección podrás mostrar algunos de tus productos.</p>
					</div>
				  </div>
			  </div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
					
					<ul class="lb-album">
						<li>
							<a href="#image-1">
								<img src="img/works/thumbs/1.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-1">
								<a href="#page" class="lb-close">X</a>
								<img src="img/works/1.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-2">
								<img src="img/works/thumbs/2.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-2">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/2.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-3">
								<img src="img/works/thumbs/3.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-3">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/3.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-4">
								<img src="img/works/thumbs/4.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-4">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/4.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						
						<li>
							<a href="#image-5">
								<img src="img/works/thumbs/5.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-5">
								<a href="#page" class="lb-close">X</a>
								<img src="img/works/5.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-6">
								<img src="img/works/thumbs/6.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-6">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/6.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-7">
								<img src="img/works/thumbs/7.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-7">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/7.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#image-8">
								<img src="img/works/thumbs/8.jpg" alt="">
								<span>+</span>
							</a>
							<div class="lb-overlay" id="image-8">
								<a href="#page" class="lb-close">x Close</a>
								<img src="img/works/8.jpg" alt="" />
								<div>
									<h3>Producto <span>/Tipo/</h3>
									<p>Texto de muestra Texto de muestra Texto de muestra Texto de muestra .</p>
								</div>
								
							</div>
						</li>
					</ul>
					
					</div>
				</div>
			</div>
		</section>	  
	
		<!-- spacer 2 -->	  
		<section id="spacer2" class="home-section spacer">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="color-light">
						<h2 class="wow bounceInDown" data-wow-delay="1s">¿Listo para tener tu marca en internet</h2>
						<p class="lead wow bounceInUp" data-wow-delay="2s">Solo unos pasos mas y este diseño será tuyo.</p>	
						<a href="http://devs.com.pe/contacto.html">
						<button type="button" class="btn btn-theme btn-lg ">¡Adquirir Diseño!</button>
						</a>
						</div>
					</div>				
				</div>
            </div>
		</section>	
	  
	 <!-- Contact -->
	  <section id="contact" class="home-section bg-white">
	  	<div class="container">
			  <div class="row">
				  <div class="col-md-offset-2 col-md-8">
					<div class="section-heading">
					 <h2>Contacto</h2>
					 <p>¡Tus visitantes podrá contactarse contigo en cualquier momento, es como tener tu negocio abierto las 24 horas! </p>
					</div>
				  </div>
			  </div>

	  		<div class="row">
	  			<div class="col-md-offset-1 col-md-10">

				<form class="form-horizontal" role="form">
				  <div class="form-group">
					<div class="col-md-offset-2 col-md-8">
					  <input type="text" class="form-control" id="inputName" placeholder="Nombre">
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-md-offset-2 col-md-8">
					  <input type="email" class="form-control" id="inputEmail" placeholder="Correo">
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-md-offset-2 col-md-8">
					  <input type="text" class="form-control" id="inputSubject" placeholder="Titulo">
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-md-offset-2 col-md-8">
					  <textarea name="message" class="form-control" rows="3" placeholder="Mensaje"></textarea>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-md-offset-2 col-md-8">
					 <button type="button" class="btn btn-theme btn-lg btn-block">Enviar Mensaje</button>
					</div>
				  </div>
				</form>
	
	  			</div>
			
				
	  		</div>
			<div class="row mar-top30 ">
				<div class="col-md-offset-2 col-md-8">
					<h5>Tus redes sociales</h5>
					<ul class="social-network">
						<li><a href="#">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						<li><a href="#">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						<li><a href="#">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						<li><a href="#">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
					</ul>
				</div>				
			</div>

	  	</div>
	  </section>  

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Tu Marca &copy;2016 | Design By <a href="http://devs.com.pe">Devs</a></p>
				</div>
			</div>		
		</div>	
	</footer>
	 
	 <!-- js -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.smooth-scroll.min.js"></script>
	<script src="js/jquery.dlmenu.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/custom.js"></script>
  	
</html>